.page-not-found {
  padding-top: 3rem;
  padding-bottom: 3rem;

  .page-not-found-img {
    max-width: 70%;
    margin: auto;
  }

  .page-not-found-text {
    text-align: center;
    font-size: 2.5rem;
  }
}
