.navbar {
  height: var(--nav-height);
  position: fixed;
  width: 100%;
  z-index: 10;
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
  color: var(--white);
}

.navbar-content-wrapper {
  width: var(--wrapper-width);
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar-logo {
    font-size: 3rem;
    font-weight: 700;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -1.5rem;
      height: 100%;
      width: 1rem;
      background-color: var(--primary-color);
    }
  }

  .navs {
    display: flex;
    align-items: center;
    position: relative;

    .nav {
      display: flex;
    }
  }

  .btn-download {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    margin-left: 3rem;
    height: 4.3rem;
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    font-weight: 500;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
    padding: 0;

    &:hover {
      background-color: var(--primary-color-dark);
    }

    &:active {
      background-color: var(--primary-color-darker);
    }

    .btn-text,
    .btn-icon {
      display: inline-flex;
      align-items: center;
      padding: 0 1.5rem;
      height: 100%;
    }

    .btn-icon {
      background-color: rgba(0, 0, 0, 0.08);
    }
  }
}
