.nav-item {
  display: block;
  margin: 0 1.5rem;
  position: relative;

  a {
    display: block;
    padding: 0.5rem 0;
    letter-spacing: 1px;

    &::after {
      position: absolute;
      content: "";
      width: 0;
      height: 2px;
      background-color: transparent;
      text-align: center;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transition: all 0.5s ease-in-out;
    }

    &:hover::after {
      background-color: var(--primary-color);
      width: 100%;

      @media screen and (max-width: 768px) {
        width: 35%;
      }

      @media screen and (max-width: 480px) {
        width: 45%;
      }
    }

    .nav-icon {
      margin-bottom: 0.5rem;
      font-size: 2rem;

      @media screen and (min-width: 992px) {
        display: none;
      }
    }

    // .nav-item a - anchor tag
    @media screen and (max-width: 992px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .nav-active {
    text-shadow: 0px 0px 2px var(--primary-color);
    color: var(--primary-color);

    &::after {
      background-color: var(--primary-color);
      width: 100%;

      @media screen and (max-width: 768px) {
        width: 35%;
      }

      @media screen and (max-width: 480px) {
        width: 45%;
      }
    }
  }

  // .nav-item
  @media screen and (max-width: 1215px) {
    margin: 0 1.25rem;
  }

  // .nav-item
  @media screen and (max-width: 1100px) {
    margin: 0 1rem;
  }
}
