/* Custom properties/variables  */
:root {
  --bg-color-primary: #eeeeee;
  --bg-color-secondary: #fefefe;
  --primary-color: #ffd369;
  --secondary-color: #393e46;
  --font-color: #222831;
  --white: #f0f0f0;

  --primary-color-light: #ffeab4;
  --primary-color-dark: #f3c65e;
  --primary-color-darker: #e2b754;

  /* height & width */
  --nav-height: 9rem;
  --footer-height: 6rem;
  --footer-height-negative: -6rem;
  --wrapper-width: 70%;

  /* font and typography */
  --body-font: "Noto Sans", sans-serif;
  --headers-font: "Poppins", sans-serif;

  --title-font-size: 4rem;
  --subtitle-font-size: 2rem;

  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  @media screen and (max-width: 509px) {
    --nav-height: 8rem;
    --footer-height: 5.5rem;
  }

  @media screen and (max-height: 350px) {
    --nav-height: 8rem;
    --footer-height: 5.5rem;
  }

  @media screen and (max-width: 350px) {
    --title-font-size: 3.5rem;
    --subtitle-font-size: 1.7rem;
  }

  @media screen and (max-width: 325px) {
    --nav-height: 7rem;
    --footer-height: 5.5rem;
    --title-font-size: 3rem;
    --subtitle-font-size: 1.5rem;
  }

  @media screen and (max-height: 280px) {
    --nav-height: 7rem;
    --footer-height: 5.5rem;
  }
}

* {
  box-sizing: border-box;
}
