/* Custom properties/variables  */
:root {
  --bg-color-primary: #eeeeee;
  --bg-color-secondary: #fefefe;
  --primary-color: #ffd369;
  --secondary-color: #393e46;
  --font-color: #222831;
  --white: #f0f0f0;

  --primary-color-dark: #f3c65e;
  --primary-color-darker: #e2b754;

  --nav-height: 9rem;
  --footer-height: 6rem;
  --footer-height-negative: -6rem;

  --wrapper-width: 70%;
}
